body{
    padding: 50px;
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow:5px  5px 5px 2px gray;
}
#transaction-area{
    display: none;
}
.status{
    border-radius: 10px;
    color: white;
    text-align: left;
    padding: 20px;
}
.deposit{
    background-color: slateblue ;
}
.withdraw{
    background-color:   lightskyblue;
}
.balance{
    background-color: orange;
}